/*--starts-logo--*/
.logo {
  text-align: center;
  padding: 0px 0 5px 0px;
  border-bottom: 1px solid #DEDEDE;
}
.logo a h1 {
  font-size: 32px;
  color: #000000;
  margin: 0;
  font-family: 'Lora-Regular';
  text-transform: uppercase;
  display: inline-block;
}
.logo a:hover{
  text-decoration:none;
}
/*--end-logo--*/
/*--nav-drop-down--*/
.nav-drop{
  font-size: 20px;
  font-family: 'Lora-Regular';
}
/*--nav-drop-down--*/
/*--information-starts--*/
.infor-left h3 {
  font-size: 1.5em;
  color: #000;
  margin: 0 0 0 0;
  font-family: 'BreeSerif-Regular';
}
.infor-left ul {
  padding: 0;
  margin: 25px 0 0 0;
}
.infor-left ul li{
  display:block;
  list-style:none;
  margin-top:10px;
}
.infor-left ul li:nth-child(1){
  margin-top:0;
}
.infor-left ul li a h6 {
  color: #999;
  font-size: 13px;
  font-family: 'BreeSerif-Regular';
  margin: 0 0 0 10px;
  display: inline-block;
  vertical-align: middle;
}
.infor-left ul li a h6:hover{
  color:#73B6E1;
}
.infor-left ul li a p {
  color: #999;
  font-size: 13px;
  margin: 0;
}
.infor-left ul li a p:hover{
  color:#73B6E1;
}
.infor-left ul li a:hover{
  text-decoration:none;
}
.infor-left h4 {
  color: #999;
  font-size: 13px;
  margin: 20px 0 0 0;
}
.infor-left h4 span {
  display: block;
  margin: 7px 0;
}
.infor-left h5 {
  font-size: 15px;
  color: #999;
  margin: 19px 0 0 0;
}
.infor-left p a {
  font-size: 13px;
  color: #999;
}
.infor-left p a:hover{
  color: #73B6E1;
  text-decoration:none;
}
.infor-left p {
  margin: 6px 0 0 0;
}
.infor-top {
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 3em;
}
.information{
  border-bottom: 1px solid #DEDEDE;
}
/*--information-end--*/
.message-error{
  color: red;
  font-size: small;
}
